:root {
    --wix-font-stack: Madefor,"Helvetica Neue",Helvetica,Arial,"メイリオ","meiryo","ヒラギノ角ゴ pro w3","hiragino kaku gothic pro",sans-serif;
    --wix-font-weight-regular: 400;
    --wix-font-weight-bold: 700;
    --wix-font-weight-xbold: 800;
}
body{
    margin:0;
    padding:0;
    font-family: var(--wix-font-stack);
}



.header{
    background-color: black;
    justify-content: center;
    align-items: center;
    padding:70px;
}
.main-titles{
    font-family: var(--wix-font-stack);
    color:white;
    text-align: center;
    padding: 30px;
    font-weight:var(--wix-font-weight-regular);
}
.main-title{
    justify-content: center;
    font-size: 72px;
    /* font-weight: 600; */
    margin:auto;
}
.description{
    font-size: 20px;
}
.search-box{
    position:relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.search-box i {
    position:absolute;
    padding-left: 600px;

}
#search-box{
    width: 600px;
    height: 60px;
    border-radius: 40px;
    padding-right: 23px;
    padding-left: 57px;
    margin-right: auto;
    margin-left: auto;
    font-size:large;
    color:black;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.sticky-header{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 70px;

}
.nav{
    display: flex;
    justify-content: space-around;
}
input ::placeholder{
    color: black;
    font-size: large;

}
.profile{
    margin-right: 50px;
    background-color:white;
    border-radius: 40px;
    height:45px;
    border:0px;
}
.profile > i{
    
}
.profile:hover{
    cursor: pointer;
}
.logo-img{
    width:90px;
}
.menu{
    font-family: Madefor, "Helvetica Neue", Helvetica, Arial, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", sans-serif !important;

}
.nav-bar{
    display: flex;
}
ul.menu{
    font-family: Madefor, "Helvetica Neue", Helvetica, Arial, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", sans-serif !important;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;  
}
li {
    padding:20px;
    float:left;
}
.grid-container {
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    margin:100px;
    justify-content: center;

}
.grid-container > div{
    border: 1px solid gray;
    padding:20px;
    font-size: 30px;
    font-weight: 300;
}
.grid-container > div:nth-child(1n){
    border-top:0px;
}
/* .grid-container>div:nth-last-child(5n){
    border-bottom: 0px;
} */
.grid-container > div:nth-last-child(-n+4){
    border-bottom: 0px;
}
.grid-container > div:nth-child(1n){
    border-left: 0px;
}
.grid-container > div:nth-child(4n){
    border-right: 0px;
}
.grid-container > div > h1{
    font-family: var(--wix-font-stack);
    font-size:20px;
    font-weight: 400;
}
.grid-container >div >p{
    font-family: var(--wix-font-stack);
    font-size: 15px;
}
.grid-container > div > p::before{
    content :">  ";
    font-weight: var(--wix-font-weight-bold);

}
.show-more-btn{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: auto;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    border-color: black;
    border: solid 1px;
    font-family: var(--wix-font-stack);
    margin-bottom: 60px;
}

.show-more-btn > i {
    margin:0px;
    color: black;
}
.show-more-btn >i:hover{
    color:white;
}
.show-more-btn:hover{
    background-color:black;
    color:white;
    cursor: pointer;
}
.bottom-grid-container{
    background-color:rgb(239, 241, 242);

}
.bottom-grid-container > h2{
    text-align: center;
    font-size:56px;
    font-weight: 700;
    margin:0;
    padding: 30px;
}
.ul-grid-container{
    display:grid;
    grid-template-rows: repeat(4,120px);
    grid-template-columns: repeat(2,560px);
    text-align:center;
    margin:auto;
    margin: top 50px;
    list-style-type: none;
    background-color:rgb(239, 241, 242);
    justify-content:center;
    grid-column-gap: 50px;
    grid-gap: 30px;
    padding:30px;

}
.ul-grid-container >li{
    background-color:white;
    border-radius: 5px;
    direction:ltr;
    text-align:left;
    display: flex;
    flex-direction:column;
}
.ul-grid-container >li >div{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    padding-right: 30px;
}
.ul-grid-container >li>h1{
    font-size: 12px;
    font-weight: 400;

}
.ul-grid-container > li > div>p{
    font-size:20px;
    font-weight: 400;
    
}
.ul-grid-container > li > i{
    display: inline;
}
.footer-content{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer-content>li>img{
    width:70px;
    padding:0;
}
